#!/usr/bin/env bash
git init
cat .git-init >> .gitignore
git add *
read -p "Paste your first commit message:" message
git commit -m "$message"
git branch -M main
#shift
read -p "paste your github repo link" http 
git remote add origin "$http"
git push -u origin main


